@media screen and (max-width: 576px) {
    
    /* header area */
    
    .header{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .name h1{
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-weight: 800;
    }
    .header .name img{
        width: 28px;
        height: 33px;
        margin-top: 12px;
    }
    .manu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    label{
        display: inline-flex;
    }
    label i{
        color: rgb(104, 98, 98);
        margin-left: 240px;
    }
    .manu ul li{
        display: block;
        margin-right: 10px; 
    }
    
    .manu ul li a{
        text-decoration: none;
        color: var(--Dark-02, #424247);
        font-family: Mulish;
        font-size: 14px;
        font-weight: 400; 
    }

    /* main area */
    .top{
        width: 100%;
        height: 483px;
    }
    .top .title h1{
        font-size: 24px;
        padding: 30px 0 0 0;
        margin-bottom: 0;
    }
    .top .title p{
       
        width: 310px;
        margin: 0 auto;
        font-size: 12px;
        padding-top: 15px;
     
    }
    .button{
        width: 280px;
        padding: 10px;
        align-items: center;
        margin: 20px auto;
    }
    .button input{;
        width: 250px;
        height: 52px;
        padding-left: 15px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .button button{
        width: 267px;
        height: 52px;
        border-radius: 8px;
        margin-left: 10px;
        margin-top: 10px;
    }

    /* popular area */
    .popular{
        width: 100%;
        height: 1100px;
        justify-content: center;
        margin: 50px auto;
        display: block;
    }
    .popular .left{
        width: 100%;
        padding: 0 10px;
    }
    .popular .left h1{
        font-size: 20px;
        margin-top: 0;
    }
    .popular .left p{
        font-size: 14px;

    }
    .popular .left li{
        font-size: 14px;
        margin-top: 10px;
    }
    .popular .left button{
        width: 160px;
        height: 42px;
        font-size: 14px;
        margin-bottom: 24px;
    }
    .popular .right{
        width: 100%;
    }
    .popular .right img{
        width: 100%;
        height: 450px;
    }
    /* our destination area */
    .destination{
        width: 100%;
        margin: 0 auto;
    }
    .destination .text-area h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .destination .text-area p{
        font-size: 14px;
        line-height: 24px;
        width: 100%; 
        margin-bottom: 0;   
    }
    .image-top{
        display: block;
        margin-top: 0;
    }
    .image-top .one, .image-top .two{
        width: 100%;
        height: 276px;
        margin: 0;
    }
    .image-top h3, .image-middle h3, .image-bottom h3{
        font-size: 30px;
        align-items: center;
        padding-top: 100px;
    }
    .image-middle{
        display: block;
        margin-top: 0;
    }
    .image-middle .three, .image-middle .four{
        width: 100%;
        height: 276px;
        margin: 0;
    }
    .image-middle .five {
        width: 100%;
        height: 276px;
        margin-left: 0;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    }
    .image-bottom{
        display: block;
    }
    .image-bottom .six, .image-bottom .seven{
        width: 100%;
        height: 276px;
    }
    
    /* choose area */

    .choose{
        width: 100%;
    
    }
    .choose .us h3{
         font-size: 20px;
    }
    .choose .us p{
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        margin: 0 auto;
    }
    .two-part {
        display: block;
        margin-top: 50px;
    }
    .choose .hotel{
        width: 100%;
        height: 300px;
        padding: 30px 0 0 0;
    }
    .choose .hotel p{
        padding: 0 30px;
    }
    .choose .hotel h3{
        padding: 0 30px;
    }
    .choose .hotel img{
        padding: 0 30px;
    }
    .choose .map{
        width: 100%;
        height: 300px;
        padding: 30px 0 0 0;
        margin-top: 24px;
        margin-left: 0;
    }
    .choose .map p{
        padding: 0 30px;
    }
    .choose .map h3{
        padding: 0 30px;
    }
    .choose .map img{
        padding: 0 30px;
    }
    .choose .price{
        width: 100%;
        height: 350px;
        padding: 30px 0 0 0;
        margin-top: 24px;
        margin-left: 0;
    }
    .choose .price p{
        padding: 0 30px;
    }
    .choose .price h3{
        padding: 0 30px;
    }
    .choose .price img{
        padding: 0 30px;
    }

    /* newsletter area */
    .newsletter{
        width: 100%;
        height: 850px;
        display: block;
        margin: 100px auto 0;
    }
    .newsletter .form{
        width: 100%;
    }
    .form{
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }
    .form input{
        width: 90%;
        height: 52px;
        margin-top: 10px;
        padding-left: 10px;
    }
    .form button{
        width: 95%;
        height: 52px;
        margin-top: 20px;
        
    }
    .form p{
        font-size: 14px;
        line-height: 24px;
    }
    .newsletter .sider{
        width: 100%;
        padding: 0;
        margin-top: 24px;
    }
    .upper{
        width: 150px;
        height: 60px;    
        padding: 10px;
        position: relative;
        top: 310px;
        left: 160px;
    }
    .upper h3{
        font-size: 14px;
        margin-bottom: 0;
    }
    .upper h1{
        font-size: 18px;
    }

    /* customers review */

    .customer{
        width: 100%;
        margin: 0 auto;
        height: 900px;
    }
    .review{
        display: block;
    }
    .head{
        margin: 0 auto;
        width: 100%;
    }
    .customer .head h1{
        font-size: 20px;
        line-height: 40px; 
        padding-bottom: 20px;
        margin-top: 50px;
    }
    .review .customer1 #two{
        position: relative;
        top: -20px;
        left: 200px;
    }  
    .review .customer1 #one{
        position: relative;
        top: -20px;
    
    }
    .review .customer1 #three{
        position: relative;
        top: -70px;
       left: -20px;
    }
    .review .customer1 #four{
        position: relative;
        top: 350px;
        right: 80px;
    } 
    .review .customer3 #five{
        position: relative;
        left: 280px;
    }
    .review .customer3 #six{
        position: relative;
        top: 120px;
        left: -40px;
    }
    .review .customer3 #seven{
        position: relative;
        top: 150px;
        left: 80px;
    } 
    .review .customer2{
        width: 100%;
    } 
    .review .customer2 .intro{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .customer2 p{
        font-size: 14px;
        line-height: 24px;
    }
    /* footer area */
    .footer{
        width: 100%;
        margin: 100px auto;
    }
    .foot{
        width: 100%;
    }
    .foot2{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    .foot2 img{
        justify-content: center; 
        margin-left: 85px;
        margin-top: 10px;
    }
    .foot3 h5{
        margin-left: 30%;
    }


}