*{
    
}

/* header area */
.header{
    display: flex;
    width: 1170px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.name{
    display: flex;
}
.name h1{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
}
.name h1 span{
    color: #FF5400;
}
.header .name img{
    width: 48px;
    height: 56px;
    margin-top: 22px;
    margin-right: 20px;

}
.manu{
    display: inline;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
}
#bars, label{
    display: none;
}

.manu ul li{
    display: inline;
    margin-right: 10px;
}
.manu ul li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    margin-left: 30px;
}
.manu .home a{
    color: #FF5400;
}


/* main area (top) */

.top{
    width: 1170px;
    height: 500px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    margin: 0 auto;
    border-radius: 16px;
    padding: 0;
}
.top .title h1{
    text-align: center;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    padding: 100px 0 0 0;
    margin-bottom: 0;
}
.top .title p{
    color: #FFF;
    width: 670px;
    text-align: center;
    margin: 0 auto;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
 
}
.button{
    width: 752px;
    padding: 20px;
    align-items: center;
    margin: 30px auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.button i {
    padding: 10px 10px 0 0;
}  
.button input{
    border: none;
    width: 160px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 15px;
    margin-left: 10px;
}
.button button{
    width: 160px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    margin-left: 10px;
    color: #FFF;
}

/* popular area */

.popular{
    width: 1170px;
    height: 550px;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    justify-content: space-between;
}
.popular .left{
    width: 540px;
}
.popular .left h1{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
}
.popular .left p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.popular .left li{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}
.popular .left button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.popular .right{
    width: 540px;
}


/* our destination area */

.destination{
    width: 1170px;
    margin: 0 auto;
}

.destination .text-area h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.destination .text-area p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
}
.image-top h3, .image-middle h3, .image-bottom h3{
    color: #ffffff;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    margin-top: 135px;
}
.image-top{
    display: flex;
    margin-top: 30px;
}
.image-top .one{
    width: 573px;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
}
.image-top .two{
    width: 573px;
    height: 300px;
    margin-left: 24px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
}
.image-middle{
    display: flex;
    margin-top: 24px;
}
.image-middle .three{
    width: 374px;
    height: 286px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
}
.image-middle .four{
    width: 474px;
    height: 286px;
    margin-left: 24px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}
.image-middle .five{
    width: 274px;
    height: 286px;
    margin-left: 24px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
}
.image-bottom{
    display: flex;
    margin-top: 24px;
}
.image-bottom .six{
    width: 473px;
    height: 300px;
    margin-right: 24px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
}
.image-bottom .seven{
    width: 673px;
    height: 300px;
    
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
}

/* choose area */

.choose{
    width: 1170px;
    margin: 100px auto 0;

}
.choose .us h3{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}
.choose .us p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
}
.two-part {
    display: flex;
    margin-top: 70px;
}
.choose .hotel{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(255, 137, 3, 0.15);
    padding: 50px 40px 0;
}
.choose .map{
    width: 573px;
    height: 284px;
    margin-left: 24px;
    border-radius: 16px;
    border:1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.15);
    padding: 50px 40px 0;
}
.choose .price{
    width: 570px;
    height: 284px;
    border-radius: 16px;
    border:1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.15);
    padding: 50px 40px 0;
    margin-top: 24px;
    margin-left: 268px;
}
.hotel h3, .map h3, .price h3 {   
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;

}
.hotel p, .map p, .price p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* newsletter area */
.newsletter{
    width: 1170px;
    height: 422px;
    display: flex;
    margin: 100px auto 0;
}
.newsletter .form{
    width: 450px;
    border-radius: 8px;
    margin-right: 24px;
    border: 2px solid #FF5400;
}
.newsletter .sider{
    width: 672px;
    height: 422px;

}
.sider{
    padding: 10px;
    width: 300px;
    height: 100px;
    border-radius: 16px;
    background: url(Images/Rectangle\ 8\ \(1\).png) no-repeat;
}
.upper{
    background: #FF5400;
    width: 200px;
    height: 80px;
    border-radius: 16px;
    padding: 10px;
    align-items: center;
    transform: rotate(-20.628deg);
    position: relative;
    top: 278px;
    left: 400px;
}
.upper h3{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}
.upper h1{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    margin-top: 0;
}
.form{
    padding: 30px 40px;
}
.form input{
    width: 400px;
    height: 52px;
    margin-top: 20px;
    border: 1px solid lightslategray ;
    border-radius: 8px;
    padding-left: 20px;
    background: rgba(19, 19, 24, 0.05);


}
.form button{
    width: 424px;
    height: 52px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    padding: 0 20px;
}
.form p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 350px;
}

/* customers review */

.customer{
    width: 1170px;
    margin: 0 auto;
    height: 700px;
}
.review{
    display: flex;
}
.head{
    margin: 0 auto;
    width: 600px;
}
.customer .head h1{
    text-align: center;
    margin-top: 130px;
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px; 
    border-bottom: 10px solid #FF5400;
    padding-bottom: 40px;
}
.review{
    margin-top: 100px;
}
.review .customer1{
    width: 281px;
    margin-right: 24px;
}
.review .customer1 #one{
    border: 5px solid lawngreen;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.review .customer1 #two{
    border: 5px solid rgb(0, 223, 175);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    top: 100px;
    left: 50px;
}
.review .customer1 #three{
    border: 5px solid rgb(98, 80, 255);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 200px;
    right: 150px;
}
.review .customer1 #four{
    border: 5px solid lightcoral;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    top: 250px;
    right: 50px;
}
.review .customer2{
    width: 560px;
    margin-right: 24px;
}
.review .customer2 .intro{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.customer2 p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.review .customer2 .intro img{
   width: 70px;
   height: 70px;
   border-radius: 100%;
   border: 3px solid rgb(238, 234, 3);
}

.review .customer2 .intro h1{
    font-size: 18px;
    padding-left: 10px;
}
.review .customer2 .intro h3{
    font-size: 14px;
    padding-left: 10px;
    color: #FF5400;
}


.review .customer3{
    width: 281px;
}
.review .customer3 #five{
    border: 5px solid lightcoral;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    left: 250px;
}
.review .customer3 #six{
    border: 5px solid rgb(3, 150, 138);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    top: 120px;
    left: 50px;
}
.review .customer3 #seven{
    border: 5px solid rgb(53, 117, 255);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: relative;
    top: 250px;
    left: 80px;
}

/* footer area */
.footer{
    width: 1170px;
    margin: 100px auto;
    background: rgba(19, 19, 24, 0.06);
}
.foot{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.foot img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.foot h1{
    color: var(--Dark-01, #131318);
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
}
.foot h1 span{
    color: #FF5400;
}
.foot2{
    width: 650px;
    justify-content: center;
    margin: 0 auto;
}
.foot2 p{
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    justify-content: center; 
}
.foot2 img{
    justify-content: center; 
    margin-left: 240px;
    margin-top: 20px;
}
hr{
    margin: 40px 0;
}
.foot3 h5{
    margin-left: 44%;
}


